* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url("images/hiking1.jpeg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  backface-visibility: hidden;
  color: white;
  text-align: center;
  animation: slideBg 8s linear infinite;
  animation-timing-function: ease-in-out;
}

@keyframes slideBg{
  0% {background-image: url("images/hiking1.jpg"); width: 100%;}
  25% {background-image: url("images/hiking2.jpg"); width: 100%;}
  50% {background-image: url("images/hiking4.jpg"); width: 100%;}
  75% {background-image: url("images/hiking5.jpg"); width: 100%;}
  100% {background-image: url("images/hiking6.jpg"); width: 100%;}
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #0078AA;
  position :fixed;
  top: 0;
  z-index: 10;
}

/* .logo {
  width: 124px;
  margin-top: 20px;
} */

.header-left {
  float: left;
}

.header-left a {
  line-height: 65px;
  font-size: 24px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-left a:hover {
  border-bottom: 2px solid white;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid white;
}

/* Tambahkan CSS untuk menu-icon */



.content-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.footing {
  color: #5f5d60;
}

.footing h3 {
  font-weight: normal;
}

.content {
  float: left;
  width: 20%;
}

.content-icon {
  position: relative;
}

.content-icon img {
  object-fit: cover;
  width: 200px;
  height: 300px;
}

.content-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.content-icon .btn {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(105, 171, 210);
  color: white;
  font-size: 14px;
  padding: 12px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #F2DF3A;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align:center;
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
  display:none !important;
}

.footer {
  float: left;
  width: 25%;
}

.footer-icon {
  position: relative;
}

.footer-icon img{
  max-width:50px;
}

.footer-icon img:hover{
  opacity:0.6;
}
.footer-icon img:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.footer-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.footer-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.container-footer {
  max-width: 450px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}


